@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;700&family=Roboto:ital,wght@0,300;1,100&display=swap');
/* font-family: 'Assistant', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

body{
    background-color: #f5f5f5e4;

}
/* HEADER */
header{
    height: 100vh;
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 500px; */
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}

.navbar-nav .nav-link {
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;

}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #E5C51B; 
    transition: width 0.3s ease;
    transform: translateX(-50%);
}
.navbar-nav .nav-link:hover::before {
    width: 70%;
}

.introDiv{
    color: aliceblue;
}

.introDiv h1{
    font-size: 65px;
    margin-top: 30px;
}

.introDiv p{
    margin-bottom: 30px;
    font-size: 35px;
}

#codeMindersButton, #empecemosButton{
    background-color: rgba(240, 248, 255, 0.351);
    border: none;
    border-radius: 30px;
    color: aliceblue;
}

#codeMindersButton {
    width: 390px;
    font-size: 30px;
    padding: 3px;
}

#empecemosButton {
    font-weight: 300;
    padding: 2px;
    width: 140px;
    font-size: 23px;
}

#empecemosButton a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    transition: background-color 0.5s ease; 
    border-radius: 30px;
    font-weight: bolder;


}

#empecemosButton a:hover {
    background-color: #e5c31bd6;
    border-radius: 30px;
    
}


/* sobre nosotros */
#SobreNosotrosDiv{
    color: #E5C51B;
    background-color: rgba(229, 197, 27, 0.1);
    width: 140px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

#SobreNosotrosDiv, h2 span{
    color: #E5C51B;
}

i, .material-symbols-outlined {
    color: #E5C51B;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    margin-bottom: 10px;
}

.icon-with-text {
    display: flex;
}

.material-symbols-outlined{
    margin-right: 5px; 
    font-size: 20px;  
}

.hola{
    font-weight: 600;
}

/* servicios */
#serviciosDiv{
    color: #E5C51B;
    background-color: rgba(229, 197, 27, 0.1);
    width: 80px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 3px;
}

#serviciosDiv1, h1 span{
    color: #E5C51B;
}

.serviciosDiv1, p{
    font-weight: 450;
}

.outlinedServices{
    font-size: 75px !important; 
}

.serviceBox{
    width: 350px;
}

.serviceBox h3{
    font-size: 20px;
}
.serviceBox p{
    font-size: 15px;
    margin-left: 30px;
    font-weight: 300;
}

/* Aplica text-center a todos los elementos dentro de serviceBox excepto para el párrafo con la clase .no-text-center */
.serviceBox > *:not(.no-text-center) {
    text-align: left;
}

.emergenciaSection {
    background-color: rgba(0, 0, 0, 0.211);    
    /* padding: 100px; */
    height: 320px;
    color: aliceblue;
}

.emergenciaSectionInfo{
    background-color: rgba(0, 0, 0, 0.211);
    /* height: 150px; */
}

button.llamarButton {
    background-color: transparent;
    border: 2px solid #E5C51B;
    border-radius: 10px;
    color: #E5C51B;
    box-shadow: none;
    transition: background-color 0.3s ease, color 0.3s ease;

}

button.llamarButton:hover {
    background-color: #E5C51B;
    color: #fff;
}

/* contacto */
.contactoSection{
    background-color: rgba(0, 0, 0, 0.953);
}

/* footer */
footer {
    background-color: rgba(0, 0, 0, 0.874);
    padding: 50px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 60px;
    border: 2px solid #E5C51B;
    background-color: transparent;
    transition: background-color 0.3s ease; 
    box-shadow: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btn-back-to-top:hover {
    background-color: #000000cd;
    opacity: 1;
}


/* Estilo para alinear opciones en la versión móvil */
@media (max-width: 767.98px) {
    .navbar-nav {
        text-align: center;
        margin: auto;
    }

    .nav-item {
        margin: 0 15px;
    }

    .navbar-collapse {
        justify-content: center;
    }
}

/* portafolio */

.img-responsive img{
    height: 300px;
    
}
/* Agrega estos estilos a tu hoja de estilos personalizada o en línea en tu archivo HTML */


.figButton {
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 10px;
    color: #000000;
    box-shadow: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.figButton:hover {
    background-color: #E5C51B;
    color: #000;
}



.portafolio img{
height: 248px;
}

#portfolioh2 span{
    color: #E5C51B;
    
}

/* querys */
@media only screen and (max-width: 414px) {

    #codeMindersButton {
        width: 250px;
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    #empecemosButton {
        font-size: 16px;
        margin-bottom: 100px;
    }

    #letrasDivBg{
        margin-top: 70px;
    }

    #soporteTecnico h2 {
        font-size: 24px;
    }

#sobreNosotros{
    margin: 20px;
}


#soporteTecnico p {
    font-size: 16px;
}

#llamarBoton {
    font-size: 16px
}

#emergenciaSectionInfo{
    height: 200px;
}

.nuestraEspecializacion{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 15px;
}

.portfolio2{
    padding: 15px;
}

.siganos{
    display: flex;
    margin-top: 15px;
}


}

/* Estilos para dispositivos más grandes */
@media only screen and (min-width: 415px) {
    #emergenciaSectionInfo{
        height: 150px;
        margin-top: 300px;
    }

    .nuestraEspecializacion{

        padding-left: 90px;
    }

    #letrasDivBg{
        margin-top: 400px;
    }

    .navbar{
        font-size: 20px;
    }

    .navbar-brand{
        font-size: 30px;
    }

    .solucionesCalidad{
        padding-top: 75px;
        margin-bottom: 25px;
    }
}
