@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;700&family=Roboto:ital,wght@0,300;1,100&family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;700&family=Roboto:ital,wght@0,300;1,100&family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');


.navbar {
    position: absolute;
    width: 100%;
    background-color: transparent nav-ite!important;
    z-index: 1000; 
}

.brandName{
    margin-left: 300px;
    margin-top: 10px;
}


body{
    font-family: 'Assistant', sans-serif;
    font-family: 'Roboto', sans-serif;
}
    

h1 {
        font-family: 'Assistant', sans-serif;
        font-family: 'WindSong', cursive;
        font-size: 55pt;
        color: rgba(0, 0, 0, 0.314);
}

p{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.487);
}

.p2{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.487);
}


button{
    width: 100px;
    padding: 5px;
    box-shadow: none;
    border-style: none;
    background-color: #DFF5FB;

}

/* nav */
#navbarNav{
    padding-left: 1450px;
}

.nav-item{
    font-size: 20px;

}
.link1{
    font-size: 20px;
    color: aliceblue;
    transition: all 0.3s ease; 

}

.link1:hover{
    font-size: 22px;
    color: #eab79b;
}

.link2{
    font-size: 20px;
    color: black;
    transition: all 0.3s ease; 
}
.link2:hover{
    font-size: 22px;
    color: #eab79b;
}

.siganos a{
    color:#000;
    margin-left: 15px;
    margin-top: 10px;
}



#workshops{
    background-color: #e0aa6c21;
    /* height: 800px; */
}


/* listgruops */

.listGSection{
    background-color: #e0aa6c21;
}

.horario h3{
    margin-top: 50px;
    padding-top: 90px;
}
.listTitle{
    position: relative;
    margin-top: 50px;
}

.listTitle img{
    height: 190px; 
    width: 350px;
    object-fit: cover;
}

.listTitle p{
    position: absolute; 
    top: 40px; 
    left: 20px; 
    font-size: medium;
}

.listTitle h2{
    position: absolute; 
    top: 60px; 
    left: 20px; 
}
.list-group-item{
    background-color: #ded7cf94;
    padding: 15px;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Aquí estableces la opacidad y el color gris */
    z-index: 1; /* Asegura que la capa esté sobre la imagen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  /* price table */
.parallax-section {
    /* position: relative; */
    background-image: url('/Ballet/danceStudio.jpeg'); /* Reemplaza 'tu_imagen_de_fondo.jpg' con la ruta correcta de tu imagen */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff; 
    padding: 100px 0; 
    /* text-align: center; */
}

.parallax-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.623);

}

.parallax-section h3{
    text-align: center;
    font-size: 60px;
    color: aliceblue;
    position: relative;
}
.price-table{
    height: 460px;
    width: 350px;
    border: solid 1px aliceblue;
    z-index: 1; 
    padding: 40px;
    position: relative;
    transition: all 0.3s ease; 
}

.price-table .p1{

    font-size: 16px;
    color: #fcceb5;
    text-align: center;
    
    
}

.price-table .p2{
    font-size: 80px;
    color: aliceblue;
    text-align: center;
    
}

.price-table .p3{

    font-size: 16px;
    color: #efc9b4;
    text-align: center
}

hr {
    width: 1px;
    border: 0;
    border-top: 1px solid #efc9b4;
    margin: 10px 0;
}


.price-table .p4{
    
    font-size: 16px;
    color: aliceblue;
}

.price-table:hover{
    box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
		z-index:1;
		color:#fff;
		background:#00000072;
		border-color:#e9bfa8;
		-webkit-transform:scale(1.07);
        cursor: pointer;
}

/* footer */

footer{
    position: relative;
    background-color: #ded7cfae;
    display: flex;
    justify-content: center;
}

.divColFooter{
    padding-top: 100px;
    display: flex;
    justify-items: center;
    padding: 100px;
    width: 2000px;
}

.divColFooter ul{
    list-style-type: none;
    padding: 0;
}
.divColFooter li{
    margin-bottom: 12px;
}

.material-symbols-outlined{
    color: #eab79b;
}

.formSus input{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
    width: 230px;
    background-color: #ded7cf29;
    border-color: rgba(0, 0, 0, 0.391);

}


.formSus button{
    border-radius: 30px;
    width: 230px;
    padding: 10px;
    background-color: #f4bc9f;
}

/* about */
.aboutImg{
    height: 600px;
    margin-top: 170px;
    margin-left: 150px;
    margin-bottom: 150px;
}

.overlay-content{
    height: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-content h1{
    margin-bottom: 50px;
}

.overlay-content h3{
font-weight: bolder;
}

.overlay-content h3 p{
padding-left: 30px;    
    }


    /* integrantes */
.s1{
    /* efc9b4a6 */
    /* background-color: #fdd8d6;  */
    margin-bottom: -10px;
}

/* video section */

.banner-section{
    position: relative;
    padding-bottom: 10px;
}

iframe{
    width: 100vw;
    height: calc(50vw/1.00);
}

/* testimonios */

.ninasDiv{
    position: relative;
}


.puntitosDiv{
    width: 1300px;
    height: 525px;
}

.puntitosDiv h1{
position: relative;
top: -32%;
left: 45%;
z-index: 2;
color: rgba(0, 0, 0, 0.77);

}

#puntitos{
    top: 40%;
    right: 20%;
    position: absolute;
    height: 500px;
    width: 60%;
    object-fit: cover;
    z-index: 1;
}

#ninasTestiminio{
    width: 1000px;
    position: absolute;
    left: 30%;
    bottom:30%;
    z-index: 3;
}

/* contactenos */
.contactH1H3{
    padding-left: 400px;
}

.buttonContact{
    padding-left: 300px;
}


.form-group{
    margin-bottom: 10px;
    width: 600px;
    margin-left: 50px;
}

.formDiv{
    padding-right: 300px;
}


.infoBallet{
    margin-top: 60px;
}
.infoBallet p{
    font-size: 20px !important;
    font-weight: 300;
    text-align: center;
}

/* eventos */
#saltoBalerina{
    object-fit: cover;
    overflow: hidden;
    height: 1100px;
}

.card{
    border-style: none;
    /* overflow: hidden; */
}


/* .cardImg{
    object-fit: cover;
} */

.card1 h2{
    margin-top: 35px;
    margin-bottom: px;
    text-transform: capitalize;
}

.card1 a{
    color: #000;
    transition: 0.3ms ease;
}
.card1 img {
    transition: transform 0.3s ease; 
}

.card a:hover{
    color:#e9bfa8;

}

.card1:hover img {
    transform: translate(20px, 0px);
    transform-origin: center bottom; /* Establece el punto de origen en el centro inferior */

}

.headerFAQ {
    /* background-color: aqua; */
    position: relative;
    height: 700px;
    background: url('../Ballet/zapatillafags.jpeg') no-repeat bottom center fixed;
    background-size: cover;
    font-size: 20px;



}

.headerFAQ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #06060567; 

    }



.text {
    background-color: rgba(0, 0, 0, 0.222); /* Black partially transparent background */
    color: white;
    position: absolute;
    top: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    
}


.text h2{
    margin-top: 10%;
    font-size: 90px;
    font-family:'Times New Roman', Times, serif;

}



#accordionExample{
    margin-top: 80px;
    margin-bottom: 100px;
}
.accordion-button{
    font-size: 30px;
    border-style: none;
}

.accordion-body{
    font-size: 20px;

}

.accordion-item{
    border-bottom: 1px solid #eab79b;
    border-top: none;
    border-left: none;
    border-right: none;
}

.accordion{
    --bs-accordion-active-bg: #efc9b4c3;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #efc9b4c3;

}

/* whatssap */
#whatsapp-button img{
    height: 90px;
}

#whatsapp-button a {
    display: inline-block;
    background-color: #efc9b469;
    border-radius: 50px;
    animation: pulse 1s infinite alternate;
    transition: transform 0.3s, background-color 0.3s;
}

#whatsapp-button a:hover {
    transform: scale(2.5); 
    
}

#whatsapp-button {
    position: fixed;
    bottom: -10px; 
    right: 30px; 
    z-index: 1000;
    height: 150px;
    
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* back to top */
#btn-back-to-top {
    position: fixed;
    /* bottom: 20px; */
    /* right: 20px; */
    display: none;
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: transparent;
    transition: background-color 0.3s ease; 
    box-shadow: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btn-back-to-top:hover {
    background-color:#eab79b;
    opacity: 1;
}

#backtoTopIcon {
    height: 10px;
    width: 20px;
}

.progress{
    --bs-progress-bar-bg: #ffdac5;
    color: #000;
    height: 28px;
    border-radius: 40px;
}

.progress-bar{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.62);
}

.PyProgressBar{
margin-top: 30px;
}

.PyProgressBar p{
    margin-bottom: -3px;
    }

#progressBarButton{
background-color: #ffdac5;
width: 150px;
border-radius: 30px;
margin-top: 40px;
margin-right: auto;
margin-left: auto;
font-size: 20px;

}

.profeDiv{
    position: relative;
    
}

.DivFotoyP{
    position: absolute;
    overflow: hidden;
    top:-90px;
    left: 30px;
    clip-path: circle(30%);
}

.fotoProfe{
    transform: translate(4%, 6%);
    width: 101%; 
    height: 110%;
    transition: transform 0.3s ease-out; /* Transición para suavizar el cambio al hacer hover */

}

.DivFotoyP:hover::after {
    opacity: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(35, 42, 43) 100%);
    opacity: 3;
    overflow: hidden;
    clip-path: circle(33%);
    z-index: 1; 
    
}

.DivFotoyP .redes-sociales {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2;
}

.DivFotoyP:hover .redes-sociales {
    display: block;
}

.DivFotoyP .redes-sociales i {
    font-size: 18px; 
    color:aliceblue; 
}

.DivFotoyP:hover .redes-sociales i {
    font-size: 44px; 
}

#mujerSastre{
    transform: translate(0%, 24%);
}

#happyguy{
    transform: translate(0%, 14%);
}

#whiteguy{
    transform: translate(0%, 14%);
}

#sombrerowoman{
    transform: translate(0%, 16%);
}

.imgContacto img{
    height: 600px;
}

.mapa{
    height: 400px; 
    overflow: hidden;
}

#exampleModal{
    margin-top:200px;
}

.modal-header img{
    height:300px;
}

